doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title 
	body
		div.header
				a(href="").logo
				div.nav
					a(href="") Home
					a(href="") Products
					a(href="") Dispenser
					a(href="") How To
					a(href="") Resources
					a(href="") Contact
		div.section.main
			div.content
				div.textimg
				p.
					We’re delighted to introduce
					#[strong My Cornetto]  – a new concept which gives retailers the opportunity to make irresistibly soft Cornetto ice creams to order. We know you’ll fall in love with it.
				div.spacediv
				button.play-button
					span
					p PLAY VIDEO
			button.first-scroll
		div.love
			div.welcome
				div.parallax-line
					div.parallax-div
					div.dot
					div.cupid
					div.dot
					div.parallax-div
				h1 Before falling in love...
				h3 ...allow us to introduce you perfect partner
			div.heart
				img(src="images/heart.jpg")
			div.heart-text
				p
					| The stylish 
					strong My Cornetto ice cream machine 
					| will fit in perfectly at any shop or 
					| café. It features the instantly 
					| recognisable Cornetto branding and 
					| uses 
					strong exclusive technology 
					| to create delicious, fresh ice 
					| creams in a range of flavours.
			div.ice-cream
				img(src="images/ice-cream.jpg")
			div.ice-cream-text
				p
					strong It’s so simple. 
					| It takes 
					strong five seconds 
					| to create the perfect 
					| swirly Cornetto cone, 
					| and it’s just as easy to 
					| make high profits.
			div.find-more#link1
				h1 My Cornetto
				p The Cornetto your customers love, made freshly in moments by you
				a(href="#") Find Out More
			div.find-more#link2
				h1 The Dispenser
				p It's the ice cream evolution that could revolutionise your business.
				a(href="#") Find Out More
			div.find-more#link3
				h1 How to...
				p It couldn't be easier to create the perfect cone. Just pull the lever and it's ready in seconds.
				a(href="#") Find Out More
			div.img-div1
			div.img-div2
			div.img-div3
		div.soft
			div.welcome
				div.parallax-line
					div.parallax-div
					div.dot
					div.ice
					div.dot
					div.parallax-div
				h1 Indulge your softest side
				h3 Could it be love?
			.div1
				.area
					h2 When you realise it could be love at first sight
					p Meet our perfectly formed curvaceous Cornetto-branded machine
			.div2
				.area
					h2 It's easier than you think, and faster than you could imagine
					p In seconds you can create the perfect fresh Cornetto, the machine does all the work for you.
			.div3
				.area
					h2 Pure pleasure
					p My Cornetto offers the superior quality you'd expect from Cornetto, and our four flavours were chosen by consumers following extensive taste tests
			.div4
				.area
					h2 Could this be the one?
					p Your business, combined with Unilever's innovative technology to create highly profitable, irresistibly delicious ice creams. It sounds like the perfect partnership.
		.video
			div.welcome
				div.parallax-line
					div.parallax-div
					div.dot
					div.ice
					div.dot
					div.parallax-div
				h1 Watch all our videos
				h3 Dicover the irresistible world of My Cornetto
			.video1.video-show
				button
			.video2.video-show
				button
			.video3.video-show
				button
			.logo
				a(href="#")
			.footnav
				h3 Sitemap
				a(href='#') Home
				a(href='#') Products
				a(href='#') Dispenser
				a(href='#') How To
				a(href='#') Resources
				a(href='#') Contact
			.policy
				a(href='#') Terms and Conditions
				span |
				a(href='#') Cookie Policy
				span |
				a(href='#') Privacy Policy
			.rights
				p &#169; My Cornetto 2015
		.videobox
			button.exitbtn
			video.wideo1(controls='')
				source(src='http://www.my-cornetto.com/video/introducing_my_cornetto.mp4', type='video/mp4')
			video.wideo2(controls='')
				source(src='http://www.my-cornetto.com/video/meet_our_my_cornetto_machine.mp4', type='video/mp4')
			video.wideo3(controls='')
				source(src='http://www.my-cornetto.com/video/how_it_works.mp4', type='video/mp4')















