doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title 
	body
		div.header
				a(href="").logo
				div.nav
					a(href="") Home
					a(href="") Products
					a(href="") Dispenser
					a(href="") How To
					a(href="") Resources
					a(href="") Contact
		div.section.main
			div.content
				div.textimg
				p.
					We’re delighted to introduce
					#[strong My Cornetto]  – a new concept which gives retailers the opportunity to make irresistibly soft Cornetto ice creams to order. We know you’ll fall in love with it.
				div.spacediv
				button.play-button
					span
					p PLAY VIDEO
			button.first-scroll
		div.love
			div.welcome
				div.parallax-line
					div.parallax-div
					div.dot
					div.cupid
					div.dot
					div.parallax-div
				h1 Before falling in love...
				h3 ...allow us to introduce you perfect partner
			div.heart
				img(src="images/heart.jpg")
			div.heart-text
				p
					| The stylish 
					strong My Cornetto ice cream machine 
					| will fit in perfectly at any shop or 
					| café. It features the instantly 
					| recognisable Cornetto branding and 
					| uses 
					strong exclusive technology 
					| to create delicious, fresh ice 
					| creams in a range of flavours.
			div.ice-cream
				img(src="images/ice-cream.jpg")
			div.ice-cream-text
				p
					strong It’s so simple. 
					| It takes 
					strong five seconds 
					| to create the perfect 
					| swirly Cornetto cone, 
					| and it’s just as easy to 
					| make high profits.
			div.cornetto
			div.dispenser
			div.how-to
			img(src="")
			img(src="")
			img(src="")
			img(src="")
		div.soft
