doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title 
	body
		div.section.main
			div.header
				a(href="").logo
				div.nav
					a(href="") Home
					a(href="") Products
					a(href="") Dispenser
					a(href="") How To
					a(href="") Resources
					a(href="") Contact
			div.content
				div.textimg
				p.
					We’re delighted to introduce
					#[strong My Cornetto]  – a new concept which gives retailers the opportunity to make irresistibly soft Cornetto ice creams to order. We know you’ll fall in love with it.
				div.spacediv
				button.play-button
					span
					p PLAY VIDEO
			button.first-scroll
