.love
	height: 2000px
	display: grid
	grid-template-columns: repeat(6, 1fr)
	grid-template-rows: repeat(8, 1fr)
	grid-template-areas: "welcome welcome welcome welcome welcome welcome" "pic1 pic1 pic1 des1 des1 des1" "pic1 pic1 pic1 des1 des1 des1" "pic2 pic2 pic2 des2 des2 des2" "pic2 pic2 pic2 des2 des2 des2" "link1 link1 link2 link2 link3 link3" "img1 img1 img1 img2 img2 img2" "img3 img3 img3 img2 img2 img2"
	width: 100%
	.welcome
		background-color: pink
		grid-area: welcome
	.heart
		background-color: red
		grid-area: pic1