@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@keyframes bounce
	20%
		bottom: 55px
	30%
		bottom: 15px
	40%
		bottom: 25px
	50%
		bottom: 15px
	100%
		bottom: 15px

.main
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0,0.8)), url(../images/wallpaper.jpg)
	background-size: 100% 100%
	height: 100vh
	position: relative
.header
	z-index: 2
	display: flex
	width: 100%
	justify-content: space-between
	align-items: center
	position: fixed
	background-color: transparent
	transition: all 0.5s ease
.nav
	margin-right: 50px
	font-family: 'Dosis', 'sans-serif'
	text-transform: uppercase
	font-weight: 700
	font-size: 20px
	a
		display: inline-block
		margin-left: 20px 
		text-decoration: none
		color: white
		letter-spacing: 2px
		border-radius: 10px
		padding: 5px
		transition: color 0.3s, background-color 0.3s
		&:hover
			background-color: white
			color: #333
			transition: color 0.3s, background-color 0.3s
	a:first-child
		background-color: white
		color: #333

a.logo
	margin-left: 50px
	background:
		image: url(../images/logo.png)
		size: contain
		repeat: no-repeat
	width: 140px
	height: 108px
	display: block
.content
	top: 50%
	transform: translate(-50%,-50%)
	left: 50%
	color: white
	text-align: center
	margin: 0
	position: absolute
	width: 50%
	p
		font-family: 'Dosis', 'sans-serif'
		font-weight: 400
		font-size: 25px
.textimg
	margin: 0 auto
	width: 360px
	height: 180px
	background:
		image: url(../images/text.png)
		size: 100% 100%
.play-button
	background: white
	width: 170px
	height: 45px
	margin: 0 auto
	outline: none
	border: none
	border-radius: 8px
	display: flex
	align-items: center
	justify-content: space-around
	padding: 5px
	color: #333
	p
		font-size: 18px
		margin: 0
		font-weight: 700
		letter-spacing: 1px
	span
		width: 35px
		height: 35px
		background-image: url(../images/play-button.png)
		background-size: 100% 100%
	&:hover
		transform: scale(1.1,1.1)
		transition-duration: 0.2s
		cursor: pointer
	transform: scale(1,1)
	transition-duration: 0.2s
.spacediv
	height: 20px
.first-scroll
	z-index: 1
	position: absolute
	width: 35px
	height: 35px
	background-image: url(../images/arrow.png)
	background-size: 100% 100%
	background-color: transparent
	border: none
	margin: 0 auto
	left: 50%
	margin-left: -17.5px
	bottom: 15px
	outline: none
	animation:
		duration: 3.5s
		name: bounce
		iteration-count: infinite
	cursor: pointer
		timing-function: ease-in-out
.scroll-header
	transition: all 0.5s ease
	display: flex
	background-color: #efefef
	position: fixed
	top: 0
	.nav
		a
			color: #333
			&:hover
				background-color: #333
				color: white
			&:first-child
				color: white
				background-color: #333