.video
	height: 1000px
	color: white
	display: grid
	grid-template-columns: repeat(3, 1fr)
	grid-template-rows: repeat(8, 1fr)
	grid-template-areas: "welcome welcome welcome" "welcome welcome welcome" "video1 video2 video3" "video1 video2 video3" "logo nav nav" "logo nav nav" "logo nav nav" "policy rights rights"
	.welcome
		background-color: #00A0E3
		grid-area: welcome
		.parallax-line
			.dot
				background-color: white
			.parallax-div
				background-color: white
		h1
			color: white
		h3
			color: white
	.video-show
		display: flex
		align-items: center
		justify-content: center
		background: 
			size: 100%
		button
			transition: 0.3s
			background-image: url(../images/play-button.png)
			border: none
			width: 64px
			height: 64px
			background-color: transparent
			outline: none
			&:hover
				transform: scale(1.5,1.5)
				transition: 0.3s
				cursor: pointer
				outline: none
	.video1
		background:
			image: url(../images/video-1-home.jpg)
		grid-area: video1
	.video2
		background:
			image: url(../images/video-2-home.jpg)
		grid-area: video2
	.video3
		background:
			image: url(../images/video-3-home.jpg)
		grid-area: video3
	.logo
		grid-area: logo
		position: relative
		a
			position: absolute
			display: block
			background-size: contain
			background-image: url(../images/logo.png)
			width: 335px
			height: 270px
			top: 50%
			margin-top: -135px
			left: 50%
			margin-left: -168px
	.footnav
		grid-area: nav
		color: #333
		display: flex
		flex-direction: column
		font-family: "Dosis", 'sans-serif'
		font-size: 20px
		margin-left: 20px
		justify-content: center
		font-weight: 500
		a
			text-decoration: none
			color: #333
			&:nth-of-type(1)
				font-weight: 700
			&:hover
				font-weight: 700
	.policy
		grid-area: policy
		background-color: #C7C7C3
		display: flex
		align-items: center
		justify-content: center
		font-size: 18px
		font-family: "Dosis", 'sans-serif'
		a
			margin: 0 5px
			text-decoration: none
			color: #333
			&:hover
				text-decoration: underline
		span
			color: #333
	.rights
		grid-area: rights
		background-color: #C7C7C3
		p
			font-family: "Dosis", 'sans-serif'
			font-weight: 600
			font-size: 18px
			color: #333
			line-height: 100px
			white-space: nowrap
			float: right
			vertical-align: middle
			margin-right: 10px
.videobox
	transition: 0.5s
	display: none
	z-index: 100
	width: 960px
	height: 80vh
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	background-color: white
	margin: 5px
	video
		display: none
		position: absolute
		height: 80%
		margin: 70px 100px
	button
		background-image: url(../images/cancel.png)
		background-color: transparent
		background-size: contain
		border: none
		width: 32px	
		height: 32px	
		position: absolute
		top: 1%
		left: 99%
		transform: translateX(-100%)
		&:hover
			cursor: pointer
		&:focus
			outline: none